@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000&display=swap');

:root {
    --cor0: #7F079A;
    --cor1: #320240;
    --cor2: #731663;
    --cor3: #A4A2A5;
    --font-destaque: 'Bebas Neue', cursive;
    --font-link: 'UnifrakturMaguntia', cursive;
    --font-loc: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, black, transparent);
    background-repeat: no-repeat;
    background-size: cover;
}


header h1 {
    font-family: var(--font-link);
    color: white;
    text-align: center;
    font-size: 4em;
    margin-left: 25px;
}


.foto-redonda {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--cor3);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    font-weight: bold;
    color: black;
    font-family: var(--font-destaque);
    font-size: 2em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--cor0);
}

.caixa {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.651);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease;
}

.caixa:hover {
    transform: scale(1.05);
}

.caixa h2 {
    color: #8b5cf6;
    margin-bottom: 2px;
}

.caixa p {
    color: #000;
}


.container-caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
}



section p {
    font-family: var(--font-link);
    margin: 1px 1px;
    text-align: justify;
    text-indent: 5px;
    font-size: 1em;
    line-height: 1.9em;
}

section a {
    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: underline;
    color: var(--cor0);
}


footer p {
    color: black;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
    color: #7F079A;
}
